urxvt.background	    : black
urxvt.foreground	    : white
urxvt.font		        : xft:DejaVu Sans Mono:size=11:antialias=true
urxvt.boldfont		    : xft:DejaVu Sans Mono:bold:size=11:antialias=true
urxvt.scrollBar		    : false
urxvt.scrollTtyOutput   : false
urxvt.scrollWithBuffer  : true
urxvt.scrollTtyKeypross : true
urxvt.secondaryScreen   : 1
urxvt.secondaryScroll   : 0
urxvt.perl-ext:
urxvt.perl-ext-common:
